

.fire{
    background-color: #fb6344;
    color: white;
}

.water{
    background-color: #3494f4;
    color: white; 
}

.normal{
    background-color: #8c8c7e;
    color: white; 
}

.electric{
    background-color: #ffcd32;
    color: white; 
}

.grass{
    background-color: #76cc54;
    color: white; 
}

.ice{
    background-color: #67ccfe;
    color: white; 
}

.fighting{
    background-color: #ba5444;
    color: white; 
}

.poison{
    background-color: #ab5499;
    color: white; 
}

.ground{
    background-color: #ddba54;
    color: white; 
}

.flying{
    background-color: #8898fe;
    color: white; 
}

.psychic{
    background-color: #fe5598;
    color: white; 
}

.bug{
    background-color: #acbc28;
    color: white; 
}

.rock{
    background-color: #c0ac5c;
    color: white; 
}

.ghost{
    background-color: #6667ba;
    color: white; 
}

.dragon{
    background-color: #7766ee;
    color: white; 
}

.dark{
    background-color: #785444;
    color: white; 
}

.steel{
    background-color: #a8acc0;
    color: white; 
}

.fairy{
    background-color: #f4a0e4;
    color: white; 
}