.voice-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 24.2%;
  top: 65.4%;
  transform: translate(-50%, -50%); 
  z-index: 500;
}

.button {
  background-color: #b11b1b;
  position: relative;
  width: 59px;
  height: 55px;
  transition: transform 0.1s ease;
  border-radius: 50%;
  border: none;
  box-shadow: inset -2px -2px 0 1px rgb(136, 8, 8);
}

.button:active {
  transform: translateY(10px);
}

.button:focus {
  outline: none;
}
  
.buttonBellow {
  z-index: -1;
  content: "";
  display: block;
  position: relative;
  width: 60px;
  height: 55px;
  background: rgb(85, 85, 85);
  background: linear-gradient(
    to right,
    rgb(110, 0, 0) 0%,
    rgb(79, 0, 0) 58%,
    rgb(72, 0, 0) 58%,
    rgb(83, 0, 0),
    rgb(62, 0, 0) 66%,
    rgb(55, 0, 0) 72%,
    rgb(53, 0, 0) 72%,
    rgb(65, 0, 0) 100%
  );
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease;
  transform: translateY(-44px);
  box-shadow: 1px 4px 10px rgb(81, 81, 81);
}
