.voice-container{
    display: flex;
    position: absolute;
    height: 67vh;
    width: 35%;

    align-items: center;
z-index: 500;


}


.button {
    background-color: #b11b1b;
    position: relative;
    width: 59px;
    height: 55px;
    -webkit-transition: top 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 50%;
    border: none;
    left: calc(
      50% - 0px
    );
    top: calc(
      49% - 100px
    );
    transform: translate(
      -50%,
      -50%
    );
    box-shadow: inset -2px -2px 0 1px rgb(136, 8, 8);
  }
  .button:active {
    top: calc(
      48% + -85px
    ); 
  }
  
  .button:focus {
    outline: none;
  }
  
  .buttonBellow {
    z-index: -1;
    content: "";
    display: block;
    position: relative;
    width: 60px;
    height: 55px;
    background: rgb(85, 85, 85);
    background: linear-gradient(
      to right,
      rgb(110, 0, 0) 0%,
      rgb(79, 0, 0) 58%,
      rgb(72, 0, 0) 58%,
      rgb(83, 0, 0),
      rgb(62, 0, 0) 66%,
      rgb(55, 0, 0) 72%,
      rgb(53, 0, 0) 72%,
      rgb(65, 0, 0) 100%
    );
    border-radius: 50%;
    border: none;
    left: calc(
      32% - 50px
    );
    top: calc(
      59% - 182px
    );
    transition: all 0.3s ease;
    box-shadow: 1px 4px 10px rgb(81, 81, 81);
}
